{% extends "index.html" %}
{% block content %}
{% load static %}



<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
                                            
             <th>PRODUCT ID</th>
             <th>PRODUCT Name</th>
             <th>DESCRIPTION</th>
             <th>IMAGE </th>
                                                 
        </tr>
    </thead>
     <tbody>
         {% for product in products %}
            <tr>
                                            
                <td>{{ product.id}}</td>
                <td>{{ product.titles }}</td>
                <td>{{ product.description }}</td>
                <td> <img src="{{product.images.url}}" height="100" width="100" alt="product image"></td>
            </tr>
          {% endfor %}
     </tbody>
 </table>







{% endblock content %}