{% extends "basewhite.html" %}
{% block content %}
{% load static %}

<style>
.details-filter-row {
    display: none;}

.product-media{
    height:auto;
}

@media screen and (max-width:650px){
.product-media{
    height:280px;
}

}
</style>
    <main class="main">
            
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
            
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-right">
                                <div class="toolbox-sort">

                                    <form method="POST" action='/filter/'>
                                      {% csrf_token %}
                                        <label for="sortby">Sort by:</label>
                                          <div class="select-custom">
                                            <input type="hidden" name="model" value="{{model}}"/>
                                            <select name="sortby" id="sortby" class="form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
                                                <option value="nahi" selected="selected">Featured</option>
                                                <option value="high">Price - High to Low</option>
                                                <option value="low">Price - Low to High</option>
                                                <option value="new">Newest</option>
                                            </select>
                                          </div>
                                        <!-- <input name="Search" type="submit" value="Search"/> -->
                                    </form>

                                </div><!-- End .toolbox-sort -->

                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->
                        </div> <!-- End .col-lg-9 -->   
                             
                            <div class="products mb-3">
                                <div class="row justify-content-center">

                                   
                                    {% for product in products %}
                                             {% if product.category == 'Batch' %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                  
                                        <div class="product product-7 text-center">
                                            <figure class="product-media" style="width:100%;">
                                                <span class="product-label label-new">New</span>
                                                <a href="/product/{{product.id}}">
                                                    <img src="{{product.images1.url}}" alt="Product image" class="product-image" height="500px" width="500px">
                                                </a>
                                                 <form method="POST" action="/add_to_cart/">
                                                    {% csrf_token %}
                                                    <div class="details-filter-row details-row-size">
                                                        <label for="qty">Qty:</label>
                                                        <div class="product-details-quantity">
                                                            <input type="number" name="qty" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                                        </div>
                                                        <input type="hidden" name="product_ids" value="{{product.id}}"/><!-- End .product-details-quantity -->
                                                    </div><!-- End .details-filter-row -->

                                                {% if request.user.is_authenticated %}
                                                    <div class="product-action">
                                                        <button class="btn-product btn-cart"><span>add to cart</span></button>
                                                    </div>
                                                {% else %}
                                                     <div class="product-action">
                                                        <a class="btn-product btn-cart" href="/login"><span>add to cart</span></a>
                                                    </div>
                                                {% endif %}


                                               </form>
                                            
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Women</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product/{{product.id}}">{{product.title}}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    &#x20b9 {{product.price}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <!-- <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div> --><!-- End .ratings-val -->
                                                 <!--    </div> --><!-- End .ratings -->
                                                    <!-- <span class="ratings-text">( 2 Reviews )</span> -->
                                                </div><!-- End .rating-container -->

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                                                                {% endif %}
                                  
                                    {% endfor %}

                                </div><!-- End .row -->
                            </div><!-- End .products -->
                          

                        
                        </div><!-- End .col-lg-9 -->
                   </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

   var selectedItem = sessionStorage.getItem("SelectedItem"); 
   

    if (sessionStorage.getItem("SelectedItem")== null)
    {
       
       sessionStorage.setItem("SelectedItem",'nahi')
    }
 

$('#sortby').val(selectedItem);



$('#sortby').change(function() 
{ 
    var dropVal = $(this).val();
    sessionStorage.setItem("SelectedItem", dropVal);
   
});
</script>

<script>
    window.onload = function()
    {
         var selectedItem = sessionStorage.getItem("SelectedItem"); 
        if (sessionStorage.getItem("SelectedItem")== null)
        {
           
           sessionStorage.setItem("SelectedItem",'nahi')
        }
        $('#sortby').val(selectedItem);
    }
</script>

     {% endblock content %}