{% extends "index.html" %}
{% block content %}
{% load static %}
<h1><center>Add Pincode</center></h1>

  <form action="/pincode/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}  

      <div class='form-group'>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div class="alert alert-error"style='color: red'>{{ message }}</div>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
          <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
          </div>                    
      </div>

      <div class="form-group">                    
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
          <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
        </div> 
      </div>
  </form>

<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Pincode</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pincode %}

      <tr>
        <td>{{ p.pincode }}</td>
        <td><a href="/destroypincode/{{ p.id }}" class='btn btn-danger'>Delete</a></td>
      </tr>

    {% endfor %}
  </tbody>
</table>


{%endblock content%}