
{% load static %}

<head>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>CATEGORY</th>
            <th>WEIGHT</th>
            <th>SIZE</th>
            <th>THEME</th>
            <th>COMPANY</th>
            <th>MODEL NO</th>
            <th>ACTION</th>
            <th>IMAGE 1</th>
            <th>IMAGE 2</th>
            <th>IMAGE 3</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id}}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.weight }}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.sub_category }}</td>
            <td>{{ product.company }}</td>
            <td>{{ product.model_No }}</td>
            <td><img src="{{product.images1.url}}" alt="img1" height="100" width="100"></td>
            <td><img src="{{product.images2.url}}" alt="img2" height="100" width="100"></td>
            <td><img src="{{product.images3.url}}" alt="img3" height="100" width="100"></td>
        </tr>

        {% endfor %}
    </tbody>
</table>